@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@450&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, p{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/*index*/
.wrapper{
   background-image: url(/img/Darkscreen.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.desktop-header{
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    position: relative;
    z-index: 999;
}

#profilepic{
    width: 3em;
    }

.night-icon{
    position: absolute;
    display: flex;
   width: 45px;
   margin-right: -55%;
   margin-top: -4px;
   cursor: pointer;
}

.mobile-header{
    display: none;
}

.mobile-nav{
    display: none;
}

.nav-list{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.nav-item{
    margin-left: 24px;
    margin-top: 20px;
    color: #65605E;
}

.nav-btn{
    border: 1px solid #cccac9;
    padding: 12px 25px 12px 25px;
    background-color: #fff;
    border-radius: 25px;
}

 a{
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: #65605E;
}

a:hover{
    color: #FB844B;
}

span{
    color: #FB844B;
}

main{
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    flex-direction: column;
}

.hero{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.hero-head{
    font-family: 'Red Hat Mono', monospace;
    line-height: 8rem;
    color: #fff;
    font-size: 7rem;
     letter-spacing: -8px;
    margin-top: 30px;
    text-align: center; 
}

.hero-head-animate{
    font-family: 'Red Hat Mono', monospace;
    line-height: 8rem;
    color: #352A9B;
    font-size: 7rem;
    letter-spacing: -8px;
}

#rocketpicture{
    width: 50em;
}

footer{
    justify-content: center;
    position: relative;
    width: 100%;
    display: flex;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 999;
    width: 80%;
    font-family: 'Red Hat Mono', monospace;
    font-size: 12px;
    color: #65605E;
    margin-top: -200px;
}


@media only screen and (max-width: 768px) {
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    html{
      
    }

    .wrapper{
        position: relative;
    }

    .mobile-header{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px 10px 30px;
        -webkit-text-stroke: 3px solid rgba(255,255,255,0.1);
        backdrop-filter: blur(30px);
        background-color: rgba(31, 30, 47, 0.8);
        width: 100%;
    }

    /* .night-icon{
   display: none;
    } */

   .menu{
    margin-top: 8px;
  color: #cccac9;
   } 

    .desktop-header{
        display: none;
    }
    
    .hero{
        padding: 0px 50px 50px 50px;
        margin-top: 100px;
    }
    

.hero-head{
    font-family: 'Red Hat Mono', monospace;
    line-height: 45px;
    color: white;
    font-size: 40px;
    letter-spacing: -4px;
    text-align: center; 
}

.mobile-nav{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: rgba(23, 23, 62, 0.811);
    border: 1px solid rgba(255, 255, 255, 0.211);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    cursor: pointer;
    height: auto;
    width: 70%;
    right: 0;
    z-index: 1000;
}

.navfade-in{
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
  }

.mobile-nav ul{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 100px;
}

.mobile-nav ul li{
    padding-bottom: 10px;
    font-size: 30px;
}

#closenav{
    display: flex;
    justify-content: end;
    margin-right: 35px;
    margin-top: 15px;
}

#mProfile-pic{
    width: 3em;
    }

  #rocketpicture{
     width: 35em;
    }

    footer{
    justify-content: center;
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 0px;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    font-family: 'Red Hat Mono', monospace;
    font-size: 12px;
    color: #65605E;
    margin-top: 0px;
}
}
