@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@450&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: visible;
}

h1, h2, h3, p{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body{
    background-image: url(/img/Darkscreen.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*index*/
.wrapper{
    height: 100vh;
    /* overflow: hidden; */
}

.overlay{
        position:absolute;
        font-size: 300px;   
        letter-spacing: -10px;
        right: 0;
        margin-right: 100px;
        top: 0;
        color: rgba(24, 24, 43, 0.475);
}

.desktop-header{
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    position: relative;
    z-index: 999;
}

#profilepic{
width: 3em;
}

.night-icon{
    position: absolute;
    display: flex;
   width: 45px;
   margin-right: -55%;
   margin-top: -4px;
   cursor: pointer;
}

.mobile-header{
    display: none;
}

.nav-list{
    display: flex;
    text-decoration: none;
    list-style: none;
}

.nav-item{
    margin-left: 24px;
    margin-top: 20px;
    color: #65605E;
}

.nav-btn{
    border: 1px solid #cccac9;
    padding: 12px 25px 12px 25px;
    background-color: #fff;
    border-radius: 25px;
}

 a{
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    color: #65605E;
}

.nav-item a:focus{
    color: #FB844B;
    cursor: pointer;
  }

.nav-item a:hover{
    color: #FB844B;
    cursor: pointer;
}

.nav-item a:active {
    color: #FB844B;
    cursor: pointer;
  }

span{
    color: #FB844B;
}

.main-container1{
display: flex;
justify-content: space-evenly;
margin-top: 8%;
margin-bottom: 5%;
}

.main-container2{
    display: flex;
    justify-content: space-evenly;
    }

.main-content{
    display: flex;
    flex-direction: column;
    width: 30%;
    /* margin-left: -20%; */
}

.main-content p{
    margin-bottom: 30px;
}

.main-content h2{
    margin-bottom: 30px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h1{
    color: rgba(255,255,255,0.1);
    -webkit-text-stroke: 3px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
}

.thumbnail{
    width: 20%;
    height: 20%;
}

.view-site{
    width: 30%;
    padding: 15px 20px 15px 20px;
    background-color: transparent;
    border: 1px solid #cccac9;
    color: #cccac9;
    cursor: pointer;
    /* padding: 20px 80px 20px 80px; */
}

.view-site:hover{
    background-color: rgba(81, 81, 81, 0.216)
}

.work-footer{
    display: flex;
}

.work-footer img{
    width: 50px;
    margin-left: 5px;
    background-color: #fff;
    border-radius: 10%;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

    body{
        background-image: url(/img/Darkscreen.png);
        background-size: cover;
    }

    .wrapper{
        overflow:visible;
        position: relative;
    }
    .mobile-header{
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 999;
        padding: 10px 30px 10px 30px;
        -webkit-text-stroke: 3px solid rgba(255,255,255,0.1);
        backdrop-filter: blur(30px);
        background-color: rgba(31, 30, 47, 0.8);
        width: 100%;
    }

    .night-icon{
   display: none;
    }

   .menu{
    margin-top: 8px;
  color: #cccac9;
   }

    .desktop-header{
        display: none;
    }
    
    .overlay{
        position:absolute;
        font-size: 2px;   
        letter-spacing: -10px;
        right: 0;
        top: 0;
        color: rgba(19, 19, 34, 0.475);
        display: none;
}

.main-container1{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    margin-bottom: 5%;
    width: 100%;
    padding: 20px;
    }
  
    .main-container2{
        display: flex;
        flex-direction: column;
        margin-top: 8%;
        margin-bottom: 5%;
        width: 100%;
        padding: 20px;
        }

        .sidebar h1{
           margin-bottom: 15px;
          
        }

        body > div > div.main-container1 > div.sidebar.aos-init.aos-animate > h1{
 margin-top: 100px;
        }  

.main-content{
    display: flex;
    margin-bottom: -50px;
    width: 100%;
}

.main-content h2{
    font-size: 18px;
}

}
